@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}